*.json filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
src/frontend/tsconfig.json  !filter !diff !merge text 
src/frontend/package.json  !filter !diff !merge text 
src/frontend/package-lock.json  !filter !diff !merge text 